{% load static %}
<footer>
    <div class='footer'>

        <span class="icon">
            <a href="mailto:maciek.gierada@gmail.com"><span class="fa fa-envelope fa-2x"></span></a>
        </span>

        <span class="icon">
            <a href="https://github.com/mgierada"><span class="fa fa-github fa-2x"></span></a>
        </span>

        <span class="icon">
            <a href="https://www.linkedin.com/in/maciej-gierada-phd-48a768163/">
                <span class="fa fa-linkedin-square fa-2x"></span></a>
        </span>

        <span class="icon">
            <a href="https://www.patreon.com/maciejgierada">
                <span class="fa-patreon">
                    <img src="{% static 'search_for_transcript/digital-patreon-logo_fierycoral.png' %}" width='26px'
                        alt="patreon">
                </span>

            </a>
        </span>

        <div class='copyright'>
            Copyright &#169; 2021 Maciej Gierada, Warsaw, Poland. All rights reserved &#174;
        </div>
        <div class='copyright'>
            If out find this page useful, consider becoming a Patreon
            <a class='footer-link-patreon' style="color: #FF0C31;" href="https://www.patreon.com/maciejgierada">
                https://www.patreon.com/maciejgierada
            </a>
        </div>
    </div>
</footer>