{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search_for_transcript/style.css' %}">
<footer>
    <div class='footer'>

        <a href="mailto:maciek.gierada@gmail.com"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/email-2030737-1713377.png" width='32px' alt="email_me"></a>
        
        <a href="https://github.com/mgierada"><img src="{% static 'search_for_transcript/GitHub-Mark-32px.png' %}" alt='https://github.com/mgierada'></a>
        
        <a href="https://www.linkedin.com/in/maciej-gierada-phd-48a768163/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png" width='32px' alt="aa"></a>
        
        <a href="https://www.patreon.com/maciejgierada"><img src="{% static 'search_for_transcript/Digital-Patreon-Logo_Black.png' %}" width='32px' alt="patreon"></a>

        <div class='copyright'>
            Copyright &#169; 2021 Maciej Gierada, Warsaw, Poland. All rights reserved &#174;
        </div>
        <div class='copyright'>
            If out find this page useful, consider becoming a Patreon <a href="https://www.patreon.com/maciejgierada">https://www.patreon.com/maciejgierada</a>
        </div>
    </div>
</footer>
