<!-- templates/home.html -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'search_for_transcript/style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SGU-TSA</title>
    </head>
    <body>
        <br><br><br><br>
        <div class='container'>
            <div class='figure'>
                <img src="{% static 'search_for_transcript/Skepticsguideweb.png' %}"" alt='https://www.theskepticsguide.org'>
            </div>
        </div>

        <div class='container'>
            <div class='center'>
                <h1>Search SGU</h1>
                <h2>A transcript search engine for the Skeptics' Guide to the Universe podcasts</h2>
            </div>
        </div>
        <div class="wrap">
            <form class="SearchBar" method="GET" action="{% url 'search_results' %}">
                <div class="search tooltip">
                    <span class="tooltiptext">use quotation marks for an exact search e.g. 'covid vaccine'</span>
                    <input type="text" class="searchTerm" placeholder="Search..." name="q">
                    <input type="submit" class="searchButton">
                </div>
            </form>
        </div>
<br><br>

</body>
{% include "footer.html" %} 
</html>